@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--off-black);
}

.main {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--white);
}

.card {
    background-color: var(--dark-grey);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 16px;
    padding: 32px;
    margin-top: 2%;
}

.profile img {
    border-radius: 100%;
    width: 50%;
}

.img {
    padding-bottom: 20px;
}

.profile h3 {
    color: var(--green);
    padding-bottom: 7%;

}

p {
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style: none;
    width: 100%;
}

li {
    padding: 5%;
    margin: 16px;
    background-color: var(--grey);
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: var(--white);
}


.attribution {
    font-size: 12px;
    text-align: center;
    padding: 1%;
    color: var(--white);
    background-color: var(--off-black);
}

.attribution a {
    color: hsl(0, 0%, 96%);
    text-decoration: none;
}
